@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
   
main{
    /* min-height: 90vh; */
    display: flex;
    justify-content: center;

}
.contenido{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    
    
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 800px;
    transform: translateY(-10%);
}

.card{
    
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
    font-size: 1.5rem;  
}
.card img{
    width: 100%;
    border-radius: 5px;
}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main form .inputContainer input, select{    
    border: none;     
    border-bottom: 1px solid rgb(40, 39, 39);     
    padding: 10px;     
    font-size: 18px; 
    
    } 
    .presupServicio{
        transform: translateY(-350%);
    }
    .presupuesto{
        margin-bottom: 30px;
    }

