@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lora:wght@400;500;600&display=swap');
*{
    margin: 0%; /* elimina los espacios que estan de mas */
    font-family: 'Lora', serif;
    /* font-family: 'Lora', serif; */
    color: rgb(0, 0, 0);
}
